body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('images/evo-background-pic.jpg');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Teko', sans-serif;
}

a {
    font-family: 'Teko', sans-serif;
    font-size: small;
    color: black;
}

.flex {
    display: flex;
}

.top-cars-title {
    font-family: 'Teko', sans-serif;
}

section,
footer .container {
    max-width: 1000px;
}

header {
    background-color: #92b3e4;
}

footer {
    background-color: #5d82b8;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    width: 95%;
    margin: auto;
}

section.container {
    background-color: tan;
    padding: 10px;
    border-bottom: 5px solid #5f5533;
    border-radius: 5px;
    margin-bottom: 20px;
}

.top-cars img {
    border-radius: 5px;
    border: 4px solid #5f5533;
}

.car-row {
    display: flex;
}

.car-row div {
    padding: 10px;
}