body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Teko", sans-serif;
}

a {
    font-family: "Teko", sans-serif;
    font-size: small;
    color: black;
}

.flex {
    display: flex;
}

section,
footer .container {
    max-width: 1000px;
}

header {
    background-color: rgb(136, 0, 0);
    text-transform: uppercase;
    color: whitesmoke;
}

.nav-bar {
    flex: 1;
    list-style: none;
    padding: 10px;
    margin: 0px;
}

.nav-bar li a {
    text-decoration: none;
    color: inherit;
    display: block;
    font-size: 20px;
    padding: 10px 15px;
    transition: background-color 0.5s ease-out;
}

.nav-bar li {
    padding: 10px 15px;
    flex: 1;
    text-align: center;
}

.nav-bar li a:hover {
    background-color: #000;
}


/* the photo uder the header */

#main-pic {
    width: 100%;
    margin-top: 0px;
}

footer {
    background-color: rgb(136, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
}

.container {
    width: 95%;
    margin: auto;
}

section.container {
    padding: 10px;
    border-bottom: 5px solid #000;
    border-radius: 5px;
    margin-bottom: 20px;
}


/* Top cars */

.top-cars img {
    border-radius: 10px;
    border: 3px solid #000;
}

.top-cars .top-cars-title:hover {
    /* transform: scale(1.1); */
    background-color: rgb(136, 0, 0);
}

.top-cars .top-cars-title:hover span {
    color: white;
}

.top-cars .top-cars-title:hover img {
    border-color: transparent;
}

.top-cars-title {
    transition: background-color 0.7s ease;
    font-family: "Teko", sans-serif;
    border-radius: 5px;
}

.car-row {
    display: flex;
}

.car-row div {
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
th {
    border: 3px solid black;
}

td {
    padding: 8px;
    border: 3px dashed gray;
}


/* the contact form at the end of the page */

#contact {
    border-radius: 5px;
    padding: 20px;
    background-color: #eeeeee;
}

.contact-form {
    margin: auto;
    text-align: center;
}

input[type="text"],
select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: rgb(136, 0, 0);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s;
}

input[type="submit"]:hover {
    background-color: #000;
}

input[type="email"],
select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}